

.post-container {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: 1.25rem 1rem 0.5rem 1rem;
}

.post-summary {
    margin-left: 20%;
}

@media screen and (max-width: 750px) {
    .post-summary {
        margin-left: 1rem;
    }
}

.post-summary-container {
    margin-top: 60px;
     width: 100%;
     display: flex;
     flex-direction: column;
     min-height: 10vh;
 }

.post-list-item {
    margin-top: 20px;
    margin-bottom: 60px;
    text-decoration: none;
}

.post-list-item:hover {
    text-shadow: 2px 2px #ffbc00;
}

.timestamp {
    text-align: right;
    font-weight: lighter;
}

.post-header {
    display: flex;
    flex-direction: column;
}

.post-title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.post-title * {
    font-family: 'PlayfairDisplay', 'serif';
}

.post-title h1 {
    font-size: 1.5rem;
}

.post-title .timestamp {
    font-size: 1rem;
}

.timestamp {
    font-weight: bold;
}

.post-title h1 {
    font-size: 1.5rem;
    margin: 0;
}

.post-title > *  {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin: 0;
    flex-grow: 1;
    align-self: flex-start;
}

.post-title > * > * {
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-self: center;
}
