
#cnv-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#app-content {
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    width: 80%;
    max-width: 80%;
}