
@import './fonts.css';
@import './containers.css';
@import './components/header.css';

body {
    margin: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Vollkorn-Black', 'serif';
}

*:not(h1, h2, h3, h4, h5) {
    font-family: 'Vollkorn-Regular', 'serif';
}

#app-content {
    margin: 0;
    width: 100%;
    display: flex;
    padding-left: 10%;
}