
@import './app.css';
@import './fonts.css';
@import './containers.css';
@import './components/index.css';

* {
    color: rgb(85, 73, 0);
    font-family: 'SourceCodePro-Regular', 'serif';
}

body {
    background-color: rgb(255, 245, 238);
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
    font-family: 'Trocchi-Regular', 'serif';
}
