
#experiment-canvas, #experiment-canvas-3d {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}

#experiment-canvas-3d canvas {
    width: 100%;
    height: 100%;
}

.mouse-tracker.mouse-active {
    cursor: auto;
}

.mouse-tracker.mouse-inactive {
    cursor: none;
}