
#header-container {
    height: 30vh;
    margin: 0 10%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-container * {
    margin: 0;
    display: flex;
    flex-grow: 1;
}

#header-container h1 {
    font-style: italic;
    font-family: 'Vollkorn-BlackItalic', 'serif';
    font-size: 4rem;
}